body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.container {
    margin: 0 auto;
    background: white;
    border: 1px solid #666;
    padding: 16px 20px 32px;
    margin: 10px;
}

.fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 1000;
    padding: 0 10px 0 20px;
}

.content {
    margin-top: 200px;
    padding: 0px;
}

.header {
    background-color: lightblue;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.main-title {
    background-color: teal;
    padding: 5px 0 5px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}

.section-title {
    background-color: lightblue;
    font-weight: bold;
    padding: 5px 0px 5px 10px;
    margin: 10px 0;
    width: 250px;
}

.blue-box {
    background-color: #add8e6;
    padding: 5px;
    margin: 5px 0;
    color: navy;
}

.gray-box {
    background-color: #d3d3d3;
    padding: 10px;
    margin: 10px 0;
}

.item-row {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.item-label {
    width: 250px;
    background-color: #d7f5ff;
    padding-left: 10px;
}

.radio-group {
    display: flex;
    gap: 40px;
    padding: 0px 0 0px 30px;
}

label {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    width: 17px;
    height: 17px;
    color: cadetblue;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.save-button {
    background-color: teal;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    float: right;
}

.tab-container {
    display: flex;
    overflow-x: auto;
    margin: 10px 0;
}

.tab-button {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.active-tab {
    background-color: orange;
    color: white;
}

.dropdown-arrow {
    margin-left: 5px;
}

.input-blank {
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid black;
    margin-left: 5px;
}

